* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
/*shared style  */
/* #btn_txt{

} */

/* Body section bangladesh 2.0 */
.tf_1 {
  color: #0e0e0e;
  opacity: 0.5;
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  height: 28px;
  width: 622px;
}
/* idea, innovation */
.tf_2 {
  font-family: "Fira Sans", serif;
  font-weight: 700px;
  font-style: normal;
  font-size: 56px;
  height: 201px;
  width: 622px;
  opacity: 1;
}



/* sign in button */
.sign_btn{
  /* background-color: transparent; */
  width: 116px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 10;
padding: 15px 30px 15px 30px;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
}
.sign_btn_txt{
  color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}










/* explore new bd */
button.tf_3 {
  background-color: #006a50;
  height: 55px;
  width: 259px;
  border: 0 none;
  border-radius: 8px;
  opacity: 1;
}

.tf_3 {
  color: #ffffff;
  font-family: "Fira Sans", serif;
  font-weight: 600px;
  font-style: normal;
  font-size: 17px;
  height: 21px;
  width: 191px;
}
/* pillars of bd */
.tf_4 {
  color: #0e0e0e;
  opacity: 1;
  font-family: "Fira Sans", serif;
  font-weight: 700px;
  font-style: normal;
  font-size: 40px;
  width: 1280px;
  height: 48px;
}
/* innovation */
.tf_5 {
  color: #0e0e0e;
  opacity: 0.8;
  font-family: "Fira Sans", serif;
  font-weight: 700px;
  font-style: normal;
  font-size: 20px;
  width: 254px;
  height: 24px;
}
/* description_ dolor sit  */
.tf_6 {
  color: #0e0e0e;
  opacity: 0.7;
  font-family: "Fira Sans", serif;
  font-weight: 400px;
  font-style: normal;
  font-size: 16px;
  width: 254px;
  height: 72px;
}
/* chief advisor  */
.tf_7 {
  color: #0e0e0e;
  opacity: 0.8;
  font-family: "Fira Sans", serif;
  font-weight: 600px;
  font-style: normal;
  font-size: 20px;
  width: 1232px;
  height: 24px;
}
/* Bangladesh Launches New Satellite */
.tf_8 {
  color: #0e0e0e;
  opacity: 0.8;
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  width: 744px;
  height: 38px;
}
/* alzazeera */
.tf_9 {
}

/* start: nav */
nav#navbar{
  background-color: #F5F5F5;
  /* background-color: tomato; */
  height: 100px;
  width: 1600px;
  display: flex;
  padding: 24px 160px 24px 160px;
  justify-content: space-between;
}

  /* height: 50px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 24px 24px 0; */
  /* padding: 0 160px; */
  /* mrgin-bottom: 20px; */
}

/* banner  */
#section_1 {
  background-color: #c6e4d6;
  /* margin: 0 160px 20px 160px; */
  display: flex;
  padding: 80px 0 80px 0;
  align-items: center;
}
#section_1 > div:nth-child(1) {
  display: flex;
  /* background-color: tomato; */
  flex-direction: column;
  gap: 20px;
}

/* donate */
/* news  */
/* newsletter */
/* quotes */
/* vision  */
section.vision {
  display: flex;
  flex-direction: column;
}
section .vision_article {
  display: flex;
}
section .quote_section {
  display: flex;
  flex-direction: column;
}
